<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86448078532-np7d02va04cfa9655tf31rlpnlajbs7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86448078532-np7d02va04cfa9655tf31rlpnlajbs7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAajTpXk20jJSmS32xIPgsNz8uGBSxG21A</string>
	<key>GCM_SENDER_ID</key>
	<string>86448078532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Chenjie-Xiong-Final</string>
	<key>PROJECT_ID</key>
	<string>ios-tasks-app-41225</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tasks-app-41225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86448078532:ios:dbdc04ac4ff7602ddc1391</string>
</dict>
</plist>